.content-container {
    margin-top: 60px; /* Adjust this value based on the height of your Navbar */
    padding: 20px;
  }
  
  .content-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .content-container p {
    margin-bottom: 20px;
  }
  
  .content-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .content-container ul {
    list-style: none; /* Remove default list styles */
    padding-left: 0; /* Remove default left padding */
  }
  
  .content-container li {
    margin-bottom: 10px;
    /* Other styles for list items */
  }
  
  
  .content-container strong {
    font-weight: bold;
  }
  